
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(43, 44, 43);
}
body, html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
#home-1{
    background-image: url(Images/home-background.jpg);
    
    background-position-y: 70%;
    background-position-x: 50%;
    height: 96vh;
    width: 100%;
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
}
.container{
    padding: 30px 180px;
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
}
.top{

    display: flex;
}
.left img{
    height: 50px;
    width: 150px;
}
.right{
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: end;
    display: flex;
    gap: 20px;
    
}
.nav-btns{
    height: 32px;
}
#language{
    width: 122px;
    font-family:"Sarabun",sans-serif ;
    font-size: .9rem;
    font-weight: 600;
    font-style: normal;
    border-radius: 5px;
    border: 1px solid rgb(84, 82, 82);
    background: rgba(0,0,0,0.8);
    color: white;
}
#signin{
    width: 76px;
    color: white;
    background-color: rgb(230, 11, 11);
    font-family: "Sarabun",sans-serif;
    font-size: .9rem;
    font-weight: 600;
    font-style: normal;
    border-radius: 5px;
    border: none;
    text-align: center;
    padding-bottom: 2px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    height: 100%;
}
.content h1,p{
    color: white;
    line-height: 37px;
}
.home-head{
    font-size: 3rem;
}
.p1, .p2{
    font-size: 1.500rem;
    margin-top: 1.2rem;
}
.registration input{
    height: 56px;
    width: 374px;
    background-color: rgba(30, 29, 29, 0.636);
    border: 1px solid grey;
    padding-left: 15px;
    border-radius: 6px;
    font-family: "Sarabun",sans-serif;
    font-style: normal;
    font-size: 1rem;
}
.registration input::placeholder{
    color: rgb(212, 208, 208);
}
.registration button{
    height: 56px;
    width: 203px;
    background-color: red;
    color: white;
    border: none;
    font-family: "Sarabun",sans-serif;
    border-radius: 6px;
    font-size: 1.525rem;
    font-style: normal;
    font-weight: 600;
    padding-bottom: 3px;
}
.registration{
    margin-top: .750rem;
    height: fit-content;
    padding: 0px;
    display: flex;
    gap: 10px;
}
.home-2{
    margin-top: 10px;
    background-color: black;
    height: 590px;
}
.home-3{
    margin-top: 10px;
    height: 590px;
    background-color: black;
}
.home-4{
    margin-top: 10px;
    height: 590px;
    background-color: black;
}
.home-5{
    margin-top: 10px;
    height: 590px;
    background-color: black;
}
.home-6{
    margin-top: 10px;
    background-color: black;
    padding-top: 3rem;
    padding-bottom: 60px;
}
.home-6 h1{
    font-size: 3rem;
    color: white;
    
}
.row-extend{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.questions{
    margin-top: 10px;
    background-color: rgb(46, 46, 46);
    height: 80px;
    width: 100%;
    display: flex;
    font-size: 1.7rem;
    align-items: center;
    padding: 0px 20px;
    
}
.q{
    flex-grow: 1;
    font-size: 1.7rem;
}
.more{
    font-size: 3rem;
}
.row{
    display: flex;
}
.home-head, .home-2-head, .home-3-head, .home-4-head, .home-5-head{
    color: white;
    font-size: 3rem;
    font-family: "Archivo Black",sans-serif;
    font-weight: 400;
    font-style: normal;
    
}
.faq{
    font-family: "Archivo Black",sans-serif;
}
.p1, .p2{
    font-family: "Sarabun",sans-serif;
}
.q p{
    font-family: "Sarabun",sans-serif;
    font-size: 1.5rem;
}
table a,p{
    font-family: "Sarabun",sans-serif;
    color: rgb(100, 99, 99);
}
.home-2-p, .home-3-p, .home-4-p, .home-5-p{
    font-size: 1.5rem;
    margin-top: 1rem;
    font-family: "Sarabun",sans-serif;
}

.column-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.telecast{
    position: absolute;
    border: 1px solid white;
    margin-top: 89px;
    margin-left: 76px;
    height: 230px;
    width: 413px;
    overflow: hidden;
    z-index: 1;
}
.telecast2{
    position: absolute;
    z-index: 1;
    /*border: 1px solid white;*/
    height: 207px;
    width: 360px;
    margin-top: 54px;
    margin-left: 100px;
    overflow: hidden;
}
#mac-video{
    object-fit: cover;
    height: 110%;
    width: 110%;
    object-position:50% 50%;
}
.mac{
    position: relative;
    width: 569px;
    height: 427px;
    z-index: 2;
}
.children{
    width: 569px;
    height: 427px;
}
#tv-video{
    height: 112%;
    width: 115%;
    object-fit: cover;
    object-position: center;
}
.normal-tv{
    position: relative;
    z-index: 2;
    width: 569px;
    height: 427px;
}
#mobile{
    z-index: 1;
    width: 569px;
    height: 427px;

}
.download{
    position: absolute;
    margin-top: 295px;
    margin-left: 125px;
    z-index: 2;
    border: 1.9px solid rgb(93, 93, 93);
    height: 103px;
    width: 311px;
    border-radius: 10px;
    background-color: black;
    display: flex;
    flex-grow: 1;
    padding: 5px 10px;
}
.st{
    color: white;
    font-weight: bold;
}
.dow{
    margin-top: -15px;
    color: rgb(23, 119, 244);
    
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0px 15px;
    flex-grow: 1;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.icon img{
    width: 60px;
}

footer{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 10px;
    background-color: black
}
footer a,p{
    color: white;
}
footer .row .col{
    width: 300px;
}
footer .row .col .list {
    list-style: none;
    
}
footer .row .col .list li{
    margin-top: 20px;
}
footer .row .col .list a{
    font-family: "Sarabun", sans-serif;
    font-weight: 300;
    color: #FFFFFFB3;
}
footer #number p{
    color: #FFFFFFB3;
}
footer #number a{
    color: #FFFFFFB3;
    font-family: "Sarabun", sans-serif;
}
.footer-btn{
    height: 40px;
    padding-left: 30px;
    padding-right: 20px;
}


@media screen and (max-width:1020px) {

    /* --- Home-1 section --- */

    .container{
        padding: 20px 30px;
    }
    .container .content{
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }
    .top .left img{
        height: 30px;
        width: 100px;
    }
    .right{
        gap: 8px;
    }
    .right #language{
        width: 70px;
    }
    .home-head{
        font-size: 1.7rem;
        line-height: 30px;
        margin-top: 4rem;
    }
    .p1, .p2{
        font-size: 1.2rem;
        line-height: 30px;
        font-weight: 300;
    }
    .p2{
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        margin-left: 30px;
        margin-right: 30px;
    }
    .registration{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .registration input{
        max-width: 100%;
        height: 50px;
        width: 280px;
    }
    .registration button{
        width: 170px;
        height: 50px;
        font-size: 1.2rem;
        margin-bottom: 20px;
    }
    #home-1{
        height: fit-content;
    }

    /* --- Home-2 section --- */

    #home-2{
        height: fit-content;
        overflow-y: hidden;
    }
    .container .row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container .row .column{
        text-align: center;
    }
    .home-2-head{
        font-size: 1.8rem;
        margin-top: 30px;
    }
    .home-2-p{
        font-size: 1.2rem;
        line-height: 25px;
    }
    .normal-tv{
        width: 100%;
        height: 200px;
        
    }
    .telecast{
        height: 120px;
        width: 200px;
        margin-top: 40px;
        margin-left: 38px;
    }
    #tv-video{
        object-position: bottom;
        height: 170%;
        width: 180%;
    }

    /* --- Home-3 section --- */
    .home-3{
        height: fit-content;
        padding-bottom: 40px;
    }
    .home-3 .row .column-content{
        order: 1;
    }
    .home-3 .row .column-image{
        order: 2;
    }
    .home-3-head{
        font-size: 1.8rem;
        margin-top: 30px;
    }
    .home-3-p{
        font-size: 1.2rem;
        line-height: 25px;
        margin-bottom: 30px;
    }
    #mobile{
        width: 300px;
        height: 210px;
    }
    .download{
        width: 270px;
        margin:140px 15px;
        height: 60px;
    }
    .download .cover, .text, .icon{
        height: 100%;
    }
    .st{
        font-size: 14px;
        font-weight: 400;
    }
    .icon img{
        width: 50px;
        height: 50px;
    }
    .dow{
        font-size: 12px;
        margin-top: -20px;
    }
    .text{
        text-align: start;
    }

    /* --- Home-4 section --- */
    .home-4 .row .column-content{
        text-align: center;
    }
    .home-4-head{
        font-size: 1.8rem;
        margin-top: 30px;
    }
    .home-4-p{
        font-size: 1.2rem;
        line-height: 25px;
        margin-bottom: 30px;
    }
    .mac{
        width: 100%;
        height: 250px;
    }
    .telecast2{
        width: 200px;
        height: 100px;
        margin: 40px 60px;
    }
    #mac-video{
        height: 170%;
        width: 170%;
    }

    /* --- Home-5 section --- */
    .home-5{
        height: fit-content;
    }
    .home-5 .row .column-content{
        order: 1;
    }
    .home-5 .row .column-image{
        order: 2;
    }
    .home-5-head{
        font-size: 1.8rem;
        margin-top: 30px;
    }
    .home-5-p{
        font-size: 1.2rem;
        line-height: 25px;
        margin-bottom: 30px;
    }
    .children{
        width: 100%;
        height: 200px;
    }

    /* --- home-6 section --- */

    .home-6 .row-extend .faq{
        margin: 30px 0;
        text-align: center;
        font-size: 1.8rem;
    }.questions .more{
        font-weight: 100;
    }
    .questions .q p{
        font-size: 1.2rem;
    }
    .ready-to-watch .p2{
        text-align: center;
    }
}


